<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Much of our sense of competence comes in reflection about our lives not just about the actions we take. ― The Charge by Brendon Burchard</string>
	<string>Writing a journal not only lets you see where you’ve been, but can be a window to your future.</string>
	<string>Memories are preserved when written down.</string>
	<string>Preserve your memories.</string>
	<string>“Be yourself. Above all, let who you are, what you are, what you believe, shine through every sentence you write, every piece you finish.” —  John Jakes</string>
	<string>Freewriting is a fast method of thinking onto paper.</string>
	<string>Spill your mind into Day One, without any judgment or stopping.</string>
	<string>Talk to yourself in your writing.</string>
	<string>Quality can be distilled later by editing.</string>
	<string>Write the way you think.</string>
	<string>Get your raw thoughts.</string>
	<string>Use the Calendar view to enter memories and events in the past.</string>
	<string>Focus on writing about one specific idea or moment in detail.</string>
	<string>This is not a pen, it is a prayer.</string>
	<string>Journaling about yourself is memorizing about your steps.</string>
	<string>Write what you know.</string>
	<string>Keep your journal private.</string>
	<string>Don't worry about grammar or typos. If this bothers you, don't re-read your entries for a while.</string>
	<string>Write two paragraphs. The first paragraph: a sentence for everything noteworthy you've done that day. The second paragraph: what you've been thinking about, activities and thoughts.</string>
	<string>“Writers are the custodians of memory, and that’s what you must become if you want to leave some kind of record of your life…” — William Zinsser</string>
	<string>“In Hollywood, when people die they don't say, 'Did he leave a will?' but 'Did he leave a diary?'” — Liza Minnelli</string>
	<string>“Keep a diary, and someday it'll keep you.”	— Mae West</string>
	<string>“Every person should keep a journal and every person can keep a journal.” — Spencer W. Kimball</string>	
	<string>Day One can be a logbook to keep track of the little details of your day. Who, what, where types of details. Who you met, what you did, where you went, etc.</string>	
	<string>It may seem tedious at first to add these details, but future readers will be grateful for your efforts.</string>
	<string>Be sure to include complete information: names (first and last), dates (including the year), and places.</string>
	<string>Your story should be written now while it is fresh and while the true details are available.</string>
	<string>After the writer's death, reading his journal is like receiving a long letter.</string>
	<string>A journal is a daily record of events or business; a private journal is usually referred to as a diary.</string>
	<string>What are you thankful for today?</string>
	<string>What do you crave and why?</string>
	<string>The talents I have are…</string>
	<string>What is your favorite time of day?</string>
	<string>Over the weekend I will…</string>
	<string>The perfect place in the whole wide world is…</string>
	<string>What have you recently learned?</string>
	<string>What are three things you wish you were better at?</string>
	<string>Physical and mental health improvements occur when individuals write about emotional experiences.</string>
	<string>Journal writing is a voyage to the interior.</string>
	<string>By simply writing down your thoughts, they can magically disappear.</string>
	<string>By writing about emotional or stressful experiences, your ability to concentrate can increase.</string>
	<string>Day One is your private Twitter.</string>
	<string>If you have feedback or ideas for the Day One application, visit dayoneapp.com and leave us some feedback.</string>
	<string>Paste a recent email you wrote to someone.</string>
	<string>Writing in a journal can give you increased attention and memory capacity.</string>
	<string>Journal writing can give you longer lasting relationships.</string>
	<string>Writing about your life leads to less worrying and anxiety.</string>
	<string>The best way to improve your writing is by writing more. Write something...</string>
	<string>Your journal is a vital record.</string>
	<string>In addition to sharing thoughts and feelings, your journal is a record of your life’s events.</string>
	<string>Don’t assume that people and events you know intimately will be familiar to your future readers.</string>
	<string>Vary your entries.</string>
	<string>Make sure you write your feelings and thoughts about the things going on in your life.</string>
	<string>Don’t become obsessed with fact to the exclusion of emotion.</string>
	<string>Don't give up!</string>
	<string>No matter how much time has passed since your last entry don't be discouraged, write in your journal today.</string>
	<string>The truth should be told, but we should not emphasize the negative.</string>
	<string>Your private journal should record the way you face up to challenges that beset you.</string>
	<string>What is common to you is a banquet to someone else.</string>
	<string>Write a letter to a loved one who has passed away.</string>
	<string>Write a letter to your future self.</string>
	<string>Write a letter to prepare for an important conversation.</string>
	<string>Write a love letter.</string>
	<string>What have you dreamed about lately?</string>
	<string>Keeping a journal regularly can have an immense positive impact on the immune system.</string>
	
	
	<string>What was the happiest moment of your life?</string>
	<string>What was the saddest moment of your life?</string>
	<string>Who have been the most important people in your life? Tell me why?</string>
	<string>Who has been the biggest influence on your life? What lessons did that person teach you?</string>
	<string>What are the most important lessons you’ve learned in life?</string>
	<string>What is your earliest memory?</string>
	<string>How has your life been different than what you’d imagined?</string>
	<string>How would you like to be remembered?</string>
	<string>Do you have any regrets?</string>
	<string>Is there anything that you’ve never told me but want to tell me now?</string>
	<string>Are there any words of wisdom you’d like to pass along to me?</string>
	<string>What are you proudest of in your life?</string>
	<string>How has your life been different than what you’d imagined?</string>
	<string>What lessons have you learned from your relationships?</string>
	<string>When did you first find out that you’d be a parent? How did you feel?</string>
	<string>Can you describe the moment when you saw your child for the first time?</string>
	<string>How has being a parent changed you?</string>
	<string>What are your dreams for your children?</string>
	<string>Do you remember when your last child left home for good?</string>
	<string>Do you have any favorite stories about your kids?</string>
	<string>If you could do everything again, would you raise me differently...if so, what would you do differently?</string>
	<string>Do you remember what was going through your head when you first saw me?</string>
	<string>What were the hardest moments you had when I was growing up?</string>
	<string>How was your relationship with your parents?</string>
	<string>How would you describe yourself as a child? Were you happy?</string>
	<string>What is your best memory of childhood? Worst?</string>
	<string>Did you have a nickname? How’d you get it?</string>
	<string>Who were your best friends? What were they like?</string>
	<string>How would you describe a perfect day when you were young?</string>
	<string>What did you think your life would be like when you were older?</string>
	<string>Do you have any favorite stories from your childhood?</string>
	<string>Did you enjoy school?</string>
	<string>What kind of student were you?</string>
	<string>Was there a teacher or teachers who had a particularly strong influence on your life? Tell me about them.</string>
	<string>Do you have any favorite stories from school?</string>
	<string>What was the most profound spiritual moment of your life?</string>
	<string>What is your ethnic background?</string>
	<string>Who were your favorite relatives?</string>
	<string>What is your full name? How was it picked for you?</string>
	<string>When and where were you born?</string>
	<string>How much did you weigh at birth? How long were you?</string>
	<string>What color are your eyes and hair?</string>
	<string>Who do people say you look like? Why?</string>
	<string>Were there any unusual circumstances, problems or memorable stories surrounding your mother's pregnancy or your birth?</string>
	<string>Did you or your mother receive special visitors or gifts?</string>
	<string>Where was your Father during your birth?</string>
	<string>If you had older brothers or sisters, where were they when you were born?</string>
	<string>Describe the house your family lived in when you were born. Where was it located?</string>
	<string>Did anyone stay at your home to help out after your birth? If so, for how long?</string>
	<string>Are there any special stories about you as a young child?</string>
	<string>Were you given a baby blessing? When, where and by whom?</string>
	<string>Are there photos of you as a baby?</string>
	<string>What is your favorite baby photo of yourself?</string>
	<string>How old were you when you said your first word?</string>
	<string>Do you know what your first words were?</string>
	<string>When and where did you take your first steps alone?</string>
	<string>What is your earliest memory?</string>
	<string>Do you have brothers and sisters? What are their names and birth dates? Who were they named after?</string>
	<string>Did you / Do you have any pets?</string>
	<string>Did you grow up in the town you were born?</string>
	<string>What do you know about the home town and neighborhood you grew up in?</string>
	<string>Tell about the house you lived in during your childhood. Do you remember the addresses or phone numbers?</string>
	<string>Describe the house you best remember living in while growing up. Where was it located? Is it still there?</string>
	<string>Do you remember special household appliances or furnishings?</string>
	<string>Did you have household items that are today considered obsolete?</string>
	<string>Growing up, did you have your own room?</string>
	<string>Describe your room and furnishings as a child. What were some of your favorite things in your room?</string>
	<string>How did your Father earn a living when you were born?</string>
	<string>What do you remember best about your Mother's and Father's physical appearances during your childhood?</string>
	<string>What physical traits did you inherit from each of your parents?</string>
	<string>How did you like being the oldest, youngest, or middle child?</string>
	<string>What was the best / worst part about having brothers and sisters?</string>
	<string>What inside and outside chores were you responsible for while growing up? Did you receive an allowance or payment for chores?</string>
	<string>Do you have any memorable employment stories?</string>
	<string>Were there special lullabies, songs, stories or activities used at your nap-time or bedtime?</string>
	<string>Describe any childhood illnesses or injuries you had and treatments you received. Were you allergic to anything?</string>
	<string>What are your earliest memories of brothers, sisters and playmates?</string>
	<string>Did you have a favorite grandparent, aunt, uncle? Describe what's special about them.</string>
	<string>What jobs have your parents had? What were their primary occupations?</string>
	<string>What were your parents religious beliefs and activities?</string>
	<string>What did your Mother and Father tell you of disciplining you as child?</string>
	<string>What would be your proudest moment?</string>
	<string>What did your parents do that you are most proud of?</string>
	<string>As a child, did you attend church or Sunday School? How often? What did you do after church?</string>
	<string>Do you have any Sunday traditions?</string>
	<string>Describe family cars or trucks you remember as a child. What other forms of transportation did you and your family experience?</string>
	<string>What are your earliest memories of radio and TV programs?</string>
	<string>Describe the physical appearances of the first radio and TV set you remember.</string>
	<string>Do you ever walk or talk in your sleep?</string>
	<string>What nicknames did others give you? How did you get them?</string>
	<string>Did you give any nicknames to others? Are any of these nicknames still used?</string>
	<string>As a child, Did you have babysitters? How often?</string>
	<string>As a child, Who was your first best friend? Where are they now?</string>
	<string>Who are your current best friends? How did you meet?</string>
	<string>As a child, what games did you and your friends play? Where did you play?</string>
	<string>As a child, what kind of toys did you play with?</string>
	<string>What was your relationship with your brothers and sisters during your childhood?</string>
	<string>Describe their physical and personality characteristics. What were their interests, likes and dislikes?</string>
	<string>Do you / did you ever sleep outside or camp out? What did you eat?</string>
	<string>Do you have a favorite or special location?</string>
	<string>Do you have special or memorable camping experiences?</string>
	<string>Do you belong to any groups or clubs?</string>
	<string>Do you ride a bike?</string>
	<string>Describe your first bike.</string>
	<string>What winter activities do you participate in?</string>
	<string>How, when, and where did you learn to swim?</string>
	<string>Where did you go to swim with family and friends?</string>
	<string>Do you have any special summer activities?</string>
	<string>As a child, did you have music, dance or other lessons?</string>
	<string>Did you play any organized sports as a youth?</string>
	<string>Do you have any hobbies or collections?</string>
	<string>What were the funniest and most embarrassing things you did as a child?</string>
	<string>Did anyone read or tell you stories when you were a child? What were your favorites?</string>
	<string>What sort of books did you and your family like to read?</string>
	<string>Do you listen to music? What are your favorites?</string>
	<string>Is there a book or song that was important to you when you were growing up?</string>
	<string>What are your favorite books? Do you have a favorite author?</string>
	<string>What one book would you recommend and why?</string>
	<string>Did your family take vacations? Where would you go, how would you get there, and what would you do?</string>
	<string>What was your most memorable family vacations?</string>
	<string>Are there any stories your family likes to tell of vacations together?</string>
	<string>Did you have family gatherings when you were young? Where were they, who would attend, and what would you do?</string>
	<string>Do you remember any family reunions when you were growing up? When and where were they held?</string>
	<string>Do you have special memories or stories about those family reunions?</string>
	<string>What was the name of the first school you attended and where was it located? Is it still there?</string>
	<string>What do you remember of your elementary teachers?</string>
	<string>Did you have a favorite or least favorite teacher? Why?</string>
	<string>Where did you eat lunch at school?</string>
	<string>Did you bring your lunch to school or eat school lunch?</string>
	<string>Did you like going to school?</string>
	<string>Describe your typical report card in elementary, junior high and high school. Did you get rewarded for good grades?</string>
	<string>Were you punished for poor grades?</string>
	<string>What kinds of mischief did you get into in elementary school? Did you ever visit the principal’s office?</string>
	<string>Did you have classmates that later became famous or infamous?</string>
	<string>Where and when did you go to junior high school?</string>
	<string>Where and when did you go to high school? Describe the building. Is it still there?</string>
	<string>How did you get to and from high school? What were your high school mascot, colors, school song or motto?</string>
	<string>What high school activities did you participate in?</string>
	<string>Who were your closest friends during high school? What did you do together?</string>
	<string>What do you remember about special events like homecomings, proms, school plays, sporting events and dances?</string>
	<string>What did you enjoy most about school and extracurricular activities?</string>
	<string>How many class reunions have you attended?</string>
	<string>Did you attend college or graduate school? Did you graduate, and, if so, in what year and with what degree?</string>
	<string>What did you want to be when you grew up?</string>
	<string>How old were you when you got your drivers license? How did you feel about driving?</string>
	<string>Where you in any accidents when you started driving?</string>
	<string>What was the first car you drove?</string>
	<string>Who taught you how to drive?</string>
	<string>What was your first paying job? How old were you? How long were there?</string>
	<string>Who did you date during high school? What did you do on dates?</string>
	<string>What was it like going to the movies? How much did it cost? What stars and films were your favorites?</string>
	<string>When did you become financially responsible for your own clothing, entertainment and transportation?</string>
	<string>When and where did you first live on your own?</string>
	<string>Who was your first date? How old were you? What did you do?</string>
	<string>Do you remember your first kiss or a special kiss?</string>
	<string>Who was your first love? How old were you? What attracted you to them?</string>
	<string>How and when did you and your spouse meet? How old were you?</string>
	<string>What did you do on your first date with your spouse?</string>
	<string>When did you realize you were failing in love?</string>
	<string>Did you have rivals for the attention of your future spouse?</string>
	<string>What convinced you most in your choice of a spouse?</string>
	<string>Was it love at first sight?</string>
	<string>When, where, and how was marriage proposed. How long did you date and how long were you engaged before you got married?</string>
	<string>Do you remember how an engagement ring was selected?</string>
	<string>Was there a wedding shower and a bachelor party for you and your spouse? Where? When? With whom?</string>
	<string>What was your wedding date? Where were you married?</string>
	<string>Who conducted your wedding ceremony? How many people were there?</string>
	<string>Were there special vows, music or decorations? Were there wedding photographs?</string>
	<string>What did you family and your spouse's family think of the idea of your marriage?</string>
	<string>What are your mother and father-in-law's full names and dates of birth?</string>
	<string>What are your brothers and sisters-in-laws full names and dates of birth?</string>
	<string>How do you get along with your in-laws?</string>
	<string>How does your spouse get along with your family?</string> 
	<string>Where did you go on your honeymoon? How long were you gone? Special memories?</string>
	<string>How did you and your spouse earn a living when you were first married?</string>
	<string>How do you you get to and from work?</string>
	<string>Where did you live when first married?</string>
	<string>Describe your cooking skills.</string>
	<string>Give one of your spouse's favorite recipes and tell where it came from.</string>
	<string>Describe your first family car. Where did you get it?</string>
	<string>Have you had special or memorable anniversary celebrations?</string>
	<string>Do you remember your first argument or a memorable argument? What was it about? How did you make up?</string>
	<string>How has your relationship with your parents changed over the years?</string>
	<string>When have you felt closest to your parents?</string>
	<string>Did your parents have favorite sayings or mother-isms?</string>
	<string>Were there things your family did that your friends families didn't do?</string>
	<string>What did your parents teach you that helped you succeed in life?</string>
	<string>If you have always been a homemaker, how old were you when you began keeping your own house, and what were the early years like?</string>
	<string>How has homemaking changed for you over the years? Have you enjoyed it?</string>
	<string>What has been your primary occupation as an adult?</string>
	<string>When and how did you settle on a permanent career or job and on what basis have you been paid?</string>
	<string>Describe your likes and dislikes of the job. Other than salary, what benefits has your primary occupation provided?</string>
	<string>How have things changed over the years?</string>
	<string>Is there another career that you wish you had pursued instead of or in addition to the path you did choose?</string>
	<string>Describe your work place. How many people work there?</string>
	<string>Have you utilized special or technical skills?</string>
	<string>Have you been required to obtain continued education or training?</string>
	<string>Have you hired, trained or supervised others?</string>
	<string>Have you ever reprimanded or fired anyone?</string>
	<string>What other supervisory duties have you handled?</string>
	<string>Who were the best and worst bosses you've had?</string>
	<string>Who was the most memorable person you have worked with?</string>
	<string>What was the funniest thing that ever happened at work?</string>
	<string>Have you and your co-workers held holiday or company picnics?</string>
	<string>Do any special gatherings or trips stand out as most memorable?</string>
	<string>What occupational and employment achievements are you most proud of?</string>
	<string>What were the hardest, the easiest, the best and worst job you have had?</string>
	<string>What kinds of volunteer work have you and your spouse done?</string>
	<string>Describe experiences you have had investing money (stocks, bonds, commodities, real estate, etc.)</string>
	<string>Have you ever gone into business for yourself? How did your venture turn out?</string>
	<string>What are your plans for retirement? Will you change your residence?</string>
	<string>If you are retired, has it turned out as you planned and expected?</string>
	<string>When, where and to whom were your sisters and brothers married?</string>
	<string>List their children and their dates of birth. Where do they live now?</string>
	<string>List your children's full names, birth dates and places of birth. What were their lengths, weights, eye color and hair color at birth?</string>
	<string>How did you choose your childrens names?</string>
	<string>Were there any unusual circumstances surrounding pregnancies or births?</string>
	<string>How did you learn about the birds and the bees?</string>
	<string>Did you have friends or habits your parents did not approve of?</string>
	<string>Did your parents disagree with you about fads, hair or clothing styles?</string>
	<string>Have you been to any carnivals, fairs, circuses and amusement parks? Where and when? What were your favorite rides?</string>
	<string>Did you take your family on vacations?</string>
	<string>What are the most memorable places you, spouse and kids visit?</string>
	<string>As a child, are there certain trips or activities that stand out?</string>
	<string>What outdoor activities do you do with your family?</string>
	<string>In what ways are you and your brothers/sisters alike? How are you different?</string>
	<string>Can you identify events that you consider to have been turning points in your life, marriage and career?</string>
	<string>Have there been turning points in your spouse's life and career</string>
	<string>Describe your spending and saving habits both as a youth and as an adult.</string>
	<string>Have you ever traveled on a large boat or ship?</string>
	<string>What is the most unusual thing you have ever ridden on?</string>
	<string>What was the hottest and coldest you have ever been?</string>
	<string>Did you serve in the Armed Forces? When and in what branch of service? In combat?</string>
	<string>Where were you when you heard the news about the 9/11 attacks on America?</string>
	<string>What are some of the most memorable newspaper headlines or new bulletins you remember?</string>
	<string>Do you have a fantasy?</string>
	<string>Have you ever had a dream or fantasy come true?</string>
	<string>Have you had a recurring dream?</string>
	<string>Who has been your best friend for the longest time? When and how did you first meet them?</string>
	<string>What do you admire and appreciate most about your friends?</string>
	<string>Have you ever been a victim of a crime or witnessed a crime being committed?</string>
	<string>Have you ever served on a jury?</string>
	<string>Have you ever been involved in other courtroom proceedings or litigation?</string>
	<string>Have you ever had any serious health problems, illnesses or injuries?</string>
	<string>Have you ever had surgeries or hospital confinements?</string>
	<string>If you wear glasses, when did you first get them?</string>
	<string>How tall are you and when did you stop growing?</string>
	<string>What is your average adult weight?</string>
	<string>Has your weight fluctuated?</string>
	<string>Are you a member of a church? When did you join?</string>
	<string>Are you a member of a political party?</string>
	<string>Have you ever worked on a political campaign?</string>
	<string>Who is the most famous or infamous person you have ever met?</string>
	<string>How often and where did you go to movies when growing up?</string>
	<string>Do you regularly go to movies as an adult?</string>
	<string>Have you ever been to a drive-in movie?</string>
	<string>What were your favorite movies as a youth?</string>
	<string>What movies have you enjoyed most as an adult?</string>
	<string>Who are your favorite movie stars?</string>
	<string>Have you ever met a movie star?</string>
	<string>Outside of your immediate family, who has had the biggest influence on your life?</string>
	<string>Have you ever visited a foreign country?</string>
	<string>Can you speak a foreign language? How did you learn?</string>
	<string>What technological changes or advances in household appliances have you seen in your lifetime?</string>
	<string>Name the appliances in your home today which did not exist in your home when you were a child.</string>
	<string>Have you ever had experiences with an emergency or natural disaster?</string>
	<string>Have you ever personally experienced a fire, flood, tornado, hurricane, earthquake or blizzard?</string>
	<string>Have you ever administered first aid or rescued someone?</string>
	<string>Do you have a personal or family ghost story?</string>
	<string>Have you ever had a deja-vu, ESP or near death experience?</string>
	<string>Have you ever had a good luck charm?</string>
	<string>Are you superstitious?</string>
	<string>Describe the first telephone you remember from your childhood. Where was it located?</string>
	<string>What is the farthest you have ever walked, run, ridden a bike and swum?</string>
	<string>What was the longest trip you ever took? When, where, why and with whom did you go?</string>
	<string>Are there mottos and rules you try to live by? Have those changed during your lifetime?</string>
	<string>Is there someone you really disliked? Why?</string>
	<string>Do you have any pet peeves?</string>
	<string>Do you have a bad temper?</string>
	<string>Have you ever been in a fight?</string>
	<string>Have you, your spouse, or your children ever had a mustache, beard, goatee, pierced ears or a change in hair color?</string>
	<string>Do any of you have identifying physical marks or scars?</string>
	<string>What indoor and outdoor activities did your family do together when you were growing up? What were your favorites?</string>
	<string>Do you have memories of a special time?</string>
	<string>What types of entertainment were available for children in your home town and nearby communities?</string>
	<string>As a child, what were your favorite sports and games?</string>
	<string>As an adult, what were your favorite sports and games?</string>
	<string>Who are your all-time favorite sports teams and players?</string>
	<string>Have you ever met a famous athlete or coach?</string>
	<string>Have you ever attended a professional game or event?</string>
	<string>What do you consider to be the all-time greatest achievement in the history of sports?</string>
	<string>What were your favorite foods and beverages when you were growing up?</string>
	<string>Did your family have regular restaurants or places to eat out together when you were growing up? What was your favorite?</string>
	<string>Were there restaurants or eating places where you and your spouse regularly took your children? What was your favorite place?</string>
	<string>What were your children's favorite foods and beverages?</string>
	<string>Do you have a special or funny memory of eating out with your children?</string>
	<string>What are your hobbies?</string>
	<string>Have you ever collected anything?</string>
	<string>If you are not currently collecting, why and when did you stop? What happened to your collection?</string>
	<string>What do you enjoy doing most in your leisure time?</string>
	<string>Were you an avid reader or sports fan?</string>
	<string>What is your favorite color?</string>
	<string>What is your favorite flower?</string>
	<string>What is your favorite cologne or perfume?</string>
	<string>What is your favorite flavor of ice cream?</string>
	<string>What is your favorite dessert?</string>
	<string>What are your all-time favorite songs?</string>
	<string>Who are your favorite singers and recording artists?</string>
	<string>Have you ever met a recording star?</string>
	<string>How did you first learn to dance?</string>
	<string>What dances have you learned?</string>
	<string>Which dance is your favorite?</string>
	<string>What is the silliest dance you have ever done or seen?</string>
	<string>What do you remember of your parents dancing?</string>
	<string>What live performances have you attended?</string>
	<string>What are your all-time favorite TV shows and TV stars?</string>
	<string>Have you ever met a TV personality?</string>
	<string>What is your favorite thing to wear?</string>
	<string>What is your favorite season of year? What do you like to do most during that season?</string>
	<string>What is your favorite photo of yourself?</string>
	<string>What is your favorite family photo from your childhood?</string>
	<string>What is your favorite photo of you with your spouse and your children?</string>
	<string>Do you have the recipes?</string>
	<string>Did your father and grandfather cook anything special?</string>
	<string>What is your favorite form of physical exercise?</string>
	<string>What activities do you enjoy most with your spouse?</string>
	<string>What activities do you enjoy most with your children?</string>
	<string>What activities do you enjoy most with alone?</string>
	<string>What memorable places have you visited?</string>
	<string>Do you have a favorite place you have visited?</string>
	<string>Describe any oceans, mountains, deserts, museums or historical places you have visited. Which is your favorite?</string>
	<string>What is your favorite time of day?</string>
	<string>What is your favorite joke, story or riddle?</string>
	<string>Do you or a family member have favorite or funny sayings?</string>
	<string>Do you have a favorite poem or limerick?</string>
	<string>How did your parents celebrate on New Years Eve?</string>
	<string>What have been your New Year's Eve and Day activities?</string>
	<string>Your most memorable New Year's?</string>
	<string>What New Years resolutions have you made and which ones have you kept?</string>
	<string>Describe your current home, furnishings and rooms.</string>
	<string>Describe your current yard and neighborhood.</string>
</array>
</plist>
